body .h5p-result {
  height: auto;
  border: solid 1px #C9C9C9;
  background: #fff;
  font-size: 15px;
  color: #5C5C5C;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.12);
  padding: 30px;
  margin: 1em 0;
}

body .h5p-result .h5p-result {
  margin: 1em 0;
}

body .h5p-compound-container {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body .h5p-report-container {
  margin: 10px;
}
