body .h5p-result {
  background: #fff;
  border: solid 1px #C9C9C9;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.12);
  color: #5C5C5C;
  font-size: 15px;
  height: auto;
  margin: 1em 0;
  padding: 30px;
}

body .h5p-result .h5p-result {
  margin: 1em 0;
}

body .h5p-compound-container {
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

body .h5p-report-container {
  margin: 10px;
}

body .h5p-reporting-main-score-wrapper,
body .h5p-reporting-main-scaled-container,
body .h5p-reporting-main-score-container {
  display: inline-block;
}

body .h5p-reporting-main-score-wrapper {
  font-size: 0.95em;
  float: right;

  background-color: #f3f3f3;
  border-bottom: solid 1px #dfdfdf;
  padding: 0.4em 1em;
}


body .h5p-reporting-score-wrapper {
  font-weight: bold;
}

body .h5p-reporting-scaled-label,
body .h5p-reporting-score-label {
  font-weight: normal;
}
