{{=<% %>=}}
<!--TODO: Create iFrame here ? or just pass in HTML from view_assets to mobile.php -->
<!--<iframe-->
        <!--src="<% wwwroot %>/mod/hvp/embed.php?id=<% cmid %>"-->
        <!--frameborder="0"-->
        <!--allowfullscreen="allowfullscreen">-->
<!--</iframe>-->